<div class="jumbotron">
<h1>Forage</h1>
<p>Spotted</p>
<p>Filter by Location, Pantry, Fridge, Cupboard, Randomizer, Type, Expiration Date, Diet Type</p>
<p>Barter<p>
<p>Follow</p> 
<p>Plate for Inspiration</p>
</div>