<div class="jumbotron">
<h1>Forage</h1>
<p>Filter Post by Proximity, Pantry Items, Fridge Items, Food Type, Expiration Date, Diet Type</p>
<p>Follow</p>
<p>Barter</p> 
<p>Request</p>
<p>Offer</p>
<p>Plate for Inspiration</p>
</div>