<div class="jumbotron">
	<h1>Welcome to Garnish</h1>
	<p>Share your pantry with the world.</p>
	<p>A marketplace for personal food sharing</p>
	<p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %></p>
	<p><% if user_signed_in? %>  
		<%= link_to "Log out", destroy_user_session_path, class: "btn btn-primary" %>	
	<% end %>
	

</div>
<p>When was the last time your neighbor asked you for a cup of sugar? (Insert Graphic)</p>
<p>Let's digitize this exchange, socialize personal food sharing and minimize waste.</p>
<p>We call it "Urban Foraging".</p>
<p>Post photos of your pantry, cupboard, frigde or anywhere you store food.</p>
<p>Browse for inspiration.</p>
<p>Follow your friends.</p>
<p>Barter for ingredients.</p>
<p>Start today. Sign up.</p>
